.icon-menu {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}
.icon-plane {
    border: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    margin-left: 25px;
    &:focus {
        outline: none;
    }
}