.App-header-navbar {
		display: flex;
		align-self: self-end;
	a{
	 	display: inline-flex;
	}
	a:nth-child(2) {
	  	margin-left: 80px;
	}
	a:nth-child(3) {
	  	margin-left: 30vw;
	  	margin-right: 100px;
	}
}