.App-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 40px;
	&__logo {
		border: 0;
		padding: 0;
		background-color: transparent;
		cursor: pointer;
		margin-left: 100px;
	}
}