@import './fonts/fonts.css';

.App {
  margin: 0;
  font-family: Roboto;
  background-color: #EFEFEF;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  &--center {
    margin-top: 100px;
  }
}
.column {
  &--left {
    width: 56%;
  }
  &--right {
    width: 44%; 
  }
  .navbar{
    &__btn {
      display: flex;
      flex-direction: row;
      align-self: center;
      margin-left: 100px;
    }
  }
}
