@import './fonts/fonts.css';

.App {
  margin: 0;
  font-family: Roboto;
  background-color: #EFEFEF;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.App-logo {
 
}

  
.left-container {
  width: 56%;
  &-navbar-icon {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin-left: 100px;
  }
}
  
.column-right {
  width: 44%; 
}
